@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;700&display=swap');
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}